.sidebar-filter__color-exemple {
  border: 1px solid #838383;
  width: 24px;
  height: 24px;
}
.sidebar-filter__color {
  cursor: pointer;
}
.catalog-content {
  flex: 1 1 100%;
}

.catalog-content__page-num {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px;
}
.catalog-content__page-num:hover {
  background: #49d0ff;
  color: #fff;
}
.catalog-content__page-num.is-active {
  background: #49d1ff76;
}
